.teal_font {
	color: #4aaaa5;
}

.teal_background {
	background-color: #4aaaa5;
}

.white_font {
	color: #ffffff;
}

.white_background {
	background-color: #ffffff;
}

.grey_font {
	color: #777777;
}

.footer_background {
	background: #666666;
}

.heading_fonts {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.regular_fonts {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar-default {
	background-color: #ffffff; /*make navbar white instead of default light grey color*/
	border-bottom: 1.5px solid #cccccc; /*give the bottom of the border */
}

.navbar-brand {
	font-size: 24px; /*change Casey Kwok to font size 24px*/
	padding: 15px 30px; /*add padding to Casey Kwok*/
}

.navbar-default .navbar-brand {
	color: #ffffff; /*change the color of Casey Kwok to white*/
	font-weight: bold; /*bold Casey Kwok*/
}

/*.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	cursor: default;
	font-weight: bold;
}*/

.navbar>.container .navbar-brand {
	margin-left: 0px;
}

.body_block {
	background-image: url("../images/background_image.png");
}

.body_content_hr {
	border: 1.5px solid #dddddd;
}

h3, h4 {
	font-weight: bold;
	margin-top: 0px; /*default margin-top on headers for bootstrap css*/
}

.profile_image {
	float: left;
	height: 40%;
	margin-top: 5px;
	margin-right: 20px;
/*	-moz-transform: rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);*/
	width: 40%;
}

p {
	font-size: 16px; /*make about me content to 16px font-size*/
	line-height: 150%;
}

.body_content {
	border: 1px solid #dddddd; 
	margin-bottom: 30px;
	margin-top: 10px; /*original navbar container already has margin-bottom of 20px so to make the spacing between the navbar and body 30px like the original version, give only additional 10px margin-top*/ 
	padding: 30px;
}

.body_connect {
	margin-top: 10px; /*original navbar container already has margin-bottom of 20px so to make the spacing between the navbar and body 30px like the original version, give only additional 10px margin-top*/ 
	padding: 30px;
}

.body_connect_hr {
	border: 1px solid #dddddd;
}

.body_connect_icons {
	width: 100%; /*instead of the 33.33% because it is separated into 3 columns within 1 row*/
}

.form_style input::-webkit-input-placeholder {
	color: #bbc0c9; /*change the placeholder text into a lighter shade of grey*/
}

label {
	font-weight: normal; /*bootstrap defaults the form labels to bold, need to make it normal weight*/
}

.form-control {
	border-radius: 0px; /*bootstrap defaults the form inputs with rounded corners, need to make it square corners*/
}

.btn {
	border-radius: 0px; /*bootstrap defauls the submit button with rounded corners, need to make it square corners*/
	padding: 10px 20px;
}

.btn-default {
	border: none; /*bootstrap defaults the submit button with grey border, need to remove the border*/
}

.images {
	height: 50%;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
}

.absolute {
	left: 0px;
	margin: 0px 15px; /*used to trim the extra 15px from both left and right sides sticking from of the portfolio labels*/
	padding-bottom: 3%;
	padding-top: 3%;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 65%;
}

.footer {
	border-top: 4px solid #4aaaa5;
	color: #bbc0c9;
	font-size: 10px;
	padding: 18px 0px;
	text-align: center;
}

.flex {
	display: flex; /*defines the element as flex container and its children as flex items*/
	flex-direction: row; /*items are displayed horizontally, unnecessary since this is default value*/
}

@media screen and (max-width: 768px) {
	.nav>li>a {
		padding: 10px 30px; /*align the header options with the name*/
	}
}